ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
li {
    float: right;
    display: block;
    padding: 16px;
    list-style: none;
    opacity: 0.55;
}

li, a:active {
    text-decoration: none;
    color: white;
}

a:visited {
    color: #fff;
}

a:hover {
    color: green;
}